# App
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Convex
NEXT_PUBLIC_CONVEX_URL=
CONVEX_DEPLOY_KEY=

# WorkOS
WORKOS_API_KEY=
WORKOS_CLIENT_ID=
WORKOS_COOKIE_PASSWORD=
WORKOS_REDIRECT_URI=http://localhost:3000/callback

# Stripe
STRIPE_SECRET_KEY=
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
STRIPE_WEBHOOK_SECRET=

# Resend
RESEND_API_KEY=

# OpenAI
OPENAI_API_KEY=

# ElevenLabs
ELEVENLABS_API_KEY=

# Sanity
NEXT_PUBLIC_SANITY_PROJECT_ID=
NEXT_PUBLIC_SANITY_DATASET=
SANITY_API_TOKEN=
SANITY_REVALIDATE_SECRET=

# PostHog
NEXT_PUBLIC_POSTHOG_KEY=
NEXT_PUBLIC_POSTHOG_HOST=
NEXT_PUBLIC_POSTHOG_DEV=

# Cal.com
NEXT_PUBLIC_CAL_DISCOVERY_CALL_URL=

# General Translation
GT_PROJECT_ID=
GT_API_KEY=

# Featurebase
FEATUREBASE_API_KEY=
NEXT_PUBLIC_FEATUREBASE_HOST=

# IndexNow
INDEXNOW_API_KEY=

# Onboarda
ONBOARDBASE_SERVICE_TOKEN=
ONBOARDBASE_PROJECT=
ONBOARDBASE_ENVIRONMENT=
